@model List<ASP.Net_Project_2.Models.Item>
@{
	ViewData["Title"] = "Index";
}
<h3>Index</h3>
<a asp-action="Create" class="btn btn-primary">Create Item</a>
</br>
<table class = "table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Serial Number</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{ 
		<tr>
			<td>@item.Name</td>
			<td>@item.Price.ToString("N2")$</td>
			<th>@item.SerialNumber?.Name</th>
			 <td> 
			 		<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>  
		 </td>
		</tr>
		}

	</tbody>
</table>